.styles{
background-image: url(x0npl6.jpg);
color:#fff;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
  opacity: 1;
font-family: 'Mochiy Pop One', sans-serif;
}